*~
*.egg
*.egg-info/
*synctex.gz*
.DS_Store
.Thumbs.db
.ipynb_checkpoints
.thumbs.db
__pycache__/
build/
calc_ext/
dist/

_audio/
_doc/
_pack/
_share/
_slides/
_text/
_tmp/
_video/
_.md
protes/protes_update/lib/python3.12/site-packages/jaxlib/mlir/_mlir_libs/libjaxlib_mlir_capi.so
protes/protes_update/lib/python3.12/site-packages/jaxlib/xla_extension.so
protes/protes_update/lib/python3.12/site-packages/llvmlite/binding/libllvmlite.so

